{% extends 'backstage/backblock.html' %}

{% block css%}
    <style>
    .standard{width: 140px}
    </style>
{% endblock %}

{% block html %}
    <div >
        <form action="/admin/search.html" method="POST" onsubmit="return tosearch()">
            {% csrf_token %}
            <ul class="list-group" id="searchbox">
                <li class="list-group-item"><a><div>
                    <button type="button" class="btn btn-default" aria-label="Left Align" onclick="addsearch()">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </button>
                    <select title="search" style="height: 34px" name="condition">
                         <option value="uid">id</option>
                         <option value="user">账号</option>
                         <option value="phone">手机</option>
                         <option value="nickname">昵称</option>
                         <option value="level">等级</option>
                    </select>
                    <input type="text" title="搜索条件" style="height: 34px" name="value" class="search-value">
                </div></a></li>
            </ul>
            <ul class="nav nav-pills">
                      <li role="presentation" ><a id="selectall">全选</a></li>
                     <li role="presentation"><a id="looseall">取消</a></li>
                     <li role="presentation"><a id="selectopp">反选</a></li>
                     <li role="presentation" ><a id="add" href="/admin/backstage/add.html">增加</a></li>
                     <li role="presentation"><a id="del">删除</a></li>
                     <li role="presentation"><a id="update" editor=false>编辑模式</a></li>
                     <li role="presentation"><a id="save">保存</a></li>
                     <li role="presentation" ><a id="search"><button type="submit" onclick="tosearch()" class="btn btn-default btn-group-sm">搜索</button></a></li>

                 </ul>
        </form>
    </div>
    <div style="width: 100%;height:50px">
        <ul class="nav nav-tabs">
            <li role="presentation"><a ><input type="checkbox"></a></li>
            <li role="presentation"><a class="standard">id</a></li>
            <li role="presentation"><a class="standard">用户名</a></li>
            <li role="presentation"><a class="standard">手机</a></li>
        </ul>
    </div>
    {% for row in page.object_list %}
        <div style="width: 100%;height:50px">
             <ul class="nav nav-tabs">
                <li role="presentation"><a ><input type="checkbox" class="mycheck"></a></li>
                <li role="presentation"><a class="standard" >{{ row.uid }}</a></li>
                <li role="presentation"><a class="standard">{{ row.name }}</a></li>
                 <li role="presentation"><a class="standard" >{{ row.phone }}</a></li>
                 <li role="presentation"><a href="/admin/detail/{{ row.uid }}.html" class="standard">查看详情</a></li>
            </ul>
        </div>
    {% endfor %}
    <div>
        <ul class="nav nav-tabs">
            {% for row in page.page_list %}
                <li role="presentation">{{ row|safe }}</li>
            {% endfor %}
         </ul>
    </div>
    <div style="width: 100%;height: 300px"></div>

{% endblock %}

{% block js%}
 <script>
    $('#selectall').click(function () {
        $('.mycheck').prop('checked',true)
    });
    $('#looseall').click(function () {
        $('.mycheck').prop('checked',false)
    });
    $('#selectopp').click(function () {
         $('.mycheck').each(function () {
             if($(this).prop('checked')===false)
             {$(this).prop('checked',true)}
             else {
                 $(this).prop('checked',false)
             }
         });


    });
    $('#del').click(function () {
         var result = '';
        $(".mycheck").each(function () {
            if($(this).prop('checked')===true){
                 $(this).parent().parent().parent().parent().remove();
                 result = result+ $(this).parent().parent().next().text()+','
            }});
        var data = {'id':result,'csrfmiddlewaretoken':'{{csrf_token}}'};
        $.ajax(
                {
                    url:'/admin/del.html',
                    type:'POST',
                    data:data,
                    dataType:'JSON',
                    success:function (arg) {
                        console.log(arg)

                    }
                }
            )

    });
     $('#update').click(function () {
       if($(this).attr('editor')==='false')
       {$(this).addClass('editorback');
        $(".mycheck").each(function () {
            if($(this).prop('checked')===true) {
                var target = $(this).parent().parent().next().next().next().children()
                    ,phone = target.text();
                target.empty();
                target.html('<input value="'+phone+'" type="text" style="width:120px">' +
                    '<input value="'+phone+'"  type="text" style="display:none">')}
            });
        $(this).attr('editor','true');
       }
       else {$(this).removeClass('editorback');
       var all_list= [];
       $(".mycheck").each(function () {
           var box = [];
           var target = $(this).parent().parent().next().next().next().children();
            var phone = target.children().last().val();
            var new_phone =  target.children().first().val();
            if(phone!==new_phone && new_phone){
                box.push($(this).parent().parent().next().text());
                box.push(new_phone);
                all_list.push(box)
            }
            target.children().remove();
            if(new_phone){target.text(new_phone)}else { target.text(phone)}

       });
            $(this).attr('editor','false');
            var data = {'csrfmiddlewaretoken':'{{csrf_token}}'};
           data['all_list']=all_list;
           if($.isEmptyObject(all_list)){}
       else {

                $.ajax({
                url:'/admin/update.html',
                data:data,
                type:'POST',
                {#dataType:'JSON',#}
                success:function (arg) {
                    console.log(arg)
                }
            })
           }}

    });
     function addsearch() {
         var searchbox = $('#searchbox');
         var firstbox = searchbox.children().first().clone();
         searchbox.append(firstbox);
     }
     function tosearch() {
         var flag = true;
         $('.search-value').each(function () {
             if ($(this).val() ===''){flag=false}
         });
         return flag

     }













    </script>
{% endblock %}
