{% extends 'backstage/backblock.html' %}

{% block css %}
{% endblock %}
{% block html %}
    <div style="width: 400px;position: relative;">
        <h1>{{ group.gname }}</h1>

        <form action="" method="POST" id="form">
            {% csrf_token %}
            <div class="input-group form-div">
                <span class="input-group-addon" id="basic-addon1">添加用户的id</span>
                {{ form.uid}}{{ form.uid.errors.0 }}{{ msg }}
                <input name="gid" value="{{ gid }}" style="display: none">{{ gid }}
            </div>

            <div class="input-group" style="padding: 0 20px">
                 <input type="submit" style="" value="添加分组" class="btn btn-primary">
            </div>

        </form>
    </div>



{% endblock %}
{% block js %}
      <script>
     $('#user').removeClass('active');
   $('#group').addClass('active');
    </script>
{% endblock %}