{% extends 'backstage/backblock.html' %}

{% block css%}
    <style>
    .bb{width: 100px}
    </style>
{% endblock %}

{% block html %}
    <span id="groupid">{{ group.0.gid }}</span>当前组：{{ group.0.gname }}
    <div >
                <form action="/admin/groupsearch.html" method="POST" onsubmit="return tosearch()">
                    {% csrf_token %}
                     <ul class="list-group" id="searchbox">
                        <li class="list-group-item"><a><div>
                         <button type="button" class="btn btn-default" aria-label="Left Align" onclick="addsearch()">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                         </button>
                         <select title="search" style="height: 34px" name="condition">
                             <option value="gid">id</option>
                             <option value="gname">组名</option>
                         </select>
                         <input type="text" title="搜索条件" style="height: 34px" name="value" class="search-value">
                     </div></a></li>

                     </ul>
                 <ul class="nav nav-pills">
                     <li role="presentation" ><a id="selectall">全选</a></li>
                     <li role="presentation"><a id="looseall">取消</a></li>
                     <li role="presentation"><a id="selectopp">反选</a></li>
                     <li role="presentation" ><a id="add" href="/admin/gadduser/{{ group.0.gid }}.html">增加</a></li>
                     <li role="presentation"><a id="del">删除</a></li>
                     <li role="presentation"><a id="update" editor=false>更新</a></li>
                     <li role="presentation"><a><button type="submit" class='btn btn-default'>搜索</button></a></li>

                 </ul>
    </form>
            </div>
    <div style="width: 100%;height:50px">

        <ul class="nav nav-tabs">
            <li role="presentation" class="bb"><a ></a></li>
            <li role="presentation" class="bb"><a class="standard">组员id</a></li>
            <li role="presentation" class="bb"><a class="standard">组员</a></li>
            <li role="presentation" class="bb"><a class="standard">组员手机</a></li>


        </ul>
    </div>
    {% for row in data %}

        <div style="width: 100%;height:50px">
        <ul class="nav nav-tabs">
            <li role="presentation" class="bb"><a><input title="选择" type="checkbox" class="mycheck"></a></li>
            <li role="presentation" class="bb"><a class="standard" >{{ row.uid__uid }}</a></li>
            <li role="presentation" class="bb"><a class="standard">{{ row.uid__name }}</a></li>
            <li role="presentation" class="bb"><a class="standard">{{ row.uid__phone }}</a></li>

        </ul>
    </div>

    {% endfor %}

{% endblock %}


{% block js%}
    <script>
   $('#user').removeClass('active');
   $('#group').addClass('active');
    $('#selectall').click(function () {
        $('.mycheck').prop('checked',true)
    });
    $('#looseall').click(function () {
        $('.mycheck').prop('checked',false)
    });
    $('#selectopp').click(function () {
         $('.mycheck').each(function () {
             if($(this).prop('checked')===false)
             {$(this).prop('checked',true)}
             else {
                 $(this).prop('checked',false)
             }
         });


    });
    $('#del').click(function () {
         var result = $('#groupid').text()+',';
        $(".mycheck").each(function () {
            if($(this).prop('checked')===true){
                result = result+ $(this).parent().parent().next().text()+',';
                $(this).parent().parent().parent().parent().remove();

            }});
        var data = {'gid':result,'csrfmiddlewaretoken':'{{csrf_token}}'};
        $.ajax(
                {
                    url:'/admin/gdeluser.html',
                    type:'POST',
                    data:data,
                    dataType:'JSON',
                    success:function (arg) {
                        console.log(arg)

                    }
                }
            )

    });
     $('#update').click(function () {
       if($(this).attr('editor')==='false')
       {$(this).addClass('editorback');
        $(".mycheck").each(function () {
            if($(this).prop('checked')===true) {
                var target = $(this).parent().parent().next().next().children()
                    ,gname = target.text();
                target.empty();
                target.html('<input value="'+gname+'" type="text" style="width:100px">' +
                    '<input value="'+gname+'"  type="text" style="display:none">')}
            });
        $(this).attr('editor','true');
       }
       else {$(this).removeClass('editorback');
       var all_list= [];
       $(".mycheck").each(function () {
           var box = [];
           var target = $(this).parent().parent().next().next().children();
            var gname = target.children().last().val();
            var new_gname =  target.children().first().val();
            if(gname!==new_gname && new_gname){
                box.push($(this).parent().parent().next().text());
                box.push(new_gname);
                all_list.push(box)
            }
            target.children().remove();
            if(new_gname){target.text(new_gname)}else { target.text(gname)}

       });
            $(this).attr('editor','false');
            var data = {'csrfmiddlewaretoken':'{{csrf_token}}'};
           data['all_list']=all_list;
           if($.isEmptyObject(all_list)){}
       else {

                $.ajax({
                url:'/admin/groupupdate.html',
                data:data,
                type:'POST',
                success:function (arg) {
                    console.log(arg)
                }
            })
           }}

    });
     function addsearch() {
         var searchbox = $('#searchbox');
         var firstbox = searchbox.children().first().clone();
         searchbox.append(firstbox);
     }
     function tosearch() {
         var flag = true;
         $('.search-value').each(function () {
             if ($(this).val() ===''){flag=false;return false}

             if($(this).prev().val()==='gid'){
             if(Number($(this).val())){}
             else {flag=false;return false}
         }}
         );
         return flag

     }













    </script>
{% endblock %}